* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("img/desingLogin.png");
    background-color: #004652;
    background-size: cover;
    background-repeat: no-repeat;
}

.log {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    color: white;
}

.fh1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: "Horizon", sans-serif;
    font-style: italic;
}

.fh1 span {
    font-family: "Horizon", sans-serif;
    font-style: italic;
    font-size: 50px;
    display: block;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.role-selector {
    background-color: #53d3d1;
    border-radius: 4px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: #004652;
    width: 500px;
}

.role-selector input {
    margin-right: 5px;
}

.role-selector .divider {
    color: #004652;
}

.form-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 8px;
    width: 500px;
    color: #004652;
    text-align: left;
    border-radius: 0px 0px 8px 8px;
}

.forms label {
    margin-top: 10px;
    font-weight: bold;
    display: block;
}

.forms input {
    padding: 10px;
    border: 1px solid #004652;
    border-radius: 4px;
    margin-top: 5px;
    width: 100%;
}

.signup {
    margin: 10px 0;
    color: #53d3d1;
    font-size: 14px;
}

.signup a {
    color: #53d3d1;
    font-weight: bold;
    font-size: 17px;
    text-decoration: none;
    font-family: "Horizon", sans-serif;
}

.signup a:hover {
    text-decoration: underline;
}

.btlog {
    background-color: #f26b1d;
    font-family: "Horizon", sans-serif;
    border: none;
    padding: 12px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    font-size: 20px;
    width: 500px;
    transition: .15s;
}

.btlog:hover {
    transform: scale(1.02);
    background-color: white;
    color: #f26b1d;
}

.content {
    display: none
}

.content.show{
    display: flex;
    gap: 14px;
}

#container{
    padding: 20px;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.tab-buttons{
    display: flex;
    gap: 6px;
    width: 500px;
    justify-items: center;
    justify-content: center;
}

.tab-btn {
    width: 100%;
    border: none;
    color: black;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
    transition: background-color .2s ease;
    background-color: rgba(137, 151, 172, 0.8);
    color: rgba(31, 39, 49, 0.8);
}
.tab-btn.active{
    background-color:rgba(255, 255, 255, 0.8);
    color: #004652;
    font-size: 20px;
}

.tab-btn:hover{
    background-color:rgba(255, 255, 255, 0.59)
} 